html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 54px;
    margin-bottom: 60px;

}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.form-control.ng-touched.ng-invalid {
    outline: none;
    border-color: red;
    box-shadow: 0 0 10px #f77c7c;
}

.form-control {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}